name: Linting
on:
  - push
  - pull_request

jobs:
  eslint:
    name: EsLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install
        run: yarn install
      - name: Run yarn test
        run: yarn lint
